<body>
  <%('./login.ejs')%>
  <!-- // DATA UPDATE -->

  <form method="POST" action="/home">
    <input type="text" placeholder="Enter your name" name="userName" />
    <input type="password" placeholder="Enter your Age" name="password" />
    <button type="submit">Login</button>
  </form>
</body>
