<ul>
  <li><a href="/home">Home</a></li>
  <li><a href="/header">header</a></li>
  <%if(Loggedin===true){%>
  <li><a href="/login">logout</a></li>
  <% } else{%>
  <li><a href="/login">login</a></li>

  <%}%>
</ul>
